Dataset/*
submission/*
.$Model structure.drawio.bkp
.$Model structure.drawio.dtmp
Model structure.drawio
Model structure.drawio.png
results/wGJ/it6log.png
results/wGJ/it10log.png
results/woGJ/Accuracy1.png
results/woGJ/Accuracy2.png
results/woGJ/loss.png
